# Google Maps API Key for Distance Matrix, Maps JavaScript API, Geocoding
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="YOUR_GOOGLE_MAPS_API_KEY_HERE"

# Google Civic Information API Key for Voter Information & Representatives
GOOGLE_CIVIC_API_KEY="YOUR_GOOGLE_CIVIC_API_KEY_HERE"

# Google Calendar Integration Secret
GOOGLE_CALENDAR_CLIENT_ID="YOUR_GOOGLE_CALENDAR_CLIENT_ID"
GOOGLE_CALENDAR_API_KEY="YOUR_GOOGLE_CALENDAR_API_KEY"

# Firebase Setup
NEXT_PUBLIC_FIREBASE_API_KEY="YOUR_FIREBASE_API_KEY"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="YOUR_FIREBASE_AUTH_DOMAIN"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="YOUR_FIREBASE_PROJECT_ID"
